@charset "utf-8";
#master {
	background-color: #999;
	border-top-width: 1px;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;

}

body{

	background-image: url(/resources/Background/BgUser.jpg);
}

