body ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	list-style-type: none;
	text-align:center;
	vertical-align:central;
	margin-left:65px;

}
body ul li ul {
	padding: 0px;
	display: none;
	text-align:left;
}
body ul li {
	background: #CCC;
	float: left;
	height: 40px;
	width: 150px;
	line-height:40px;
}
body ul li:hover ul {
	display:inline;
	position: relative;
}
body ul li:hover{
	background-color: #F00;
	top: 20px;
	right: 500px;
	bottom: 50px;
	vertical-align: central;
	text-align: center;
}

body menu {
	font-size: 10px;
	
}

#menu {
	background-color: #F00;

}
#header {
	position: fixed;
	
}

#bgheader{
background: #000;
}
body{
	background-image:url('/application/views/BgUser.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

